.carrossel {
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.item {
    flex: 0 0 auto;
}